
html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1; /* Hace que el contenido ocupe el espacio disponible */
}

.navbar {
  background-color: #CFF3FF;
  height: 80px;
  padding: 0.5rem;
}

.navbar-brand {
  font-weight: 500;
  color: white;
  font-size: 24px;
  transition: 0.3s color;
}
.navbar-brand:hover {
  color: rgb(137, 227, 245);
}

.navbar-toggler {
  /* Es */
  border: none;
  font-size: 1.5rem;
}

.navbar-toggler:focus,
.btn-close:focus {
  box-shadow: none;
  outline: none;
}

.nav-link {
  font-weight: 700; /* Grosor de la fuente */
  color: black;
  position: relative; /* Posicion relativa a los padres */
}

.nav-link.active {
  color: #E74899 !important;
}

.offcanvas-body {
  background-color: #CFF3FF;
}

.offcanvas-header {
  background-color: bisque;
}

.nav-link:hover,
.nav-link.active:hover {
  color: #E74899;
}

@media (min-width: 991px) {
  /* Esto hace que para que se ejecute estos estilos solamente si el minimo de la pantalla es 991*/
  .nav-link::before {
    content: "";
    position: absolute; /* Posicion absoula de los padres */
    bottom: 0; /* Coloca la linea justo debajo del link */
    left: 50%; /* Empieza a dibujar cuando llega al 50% */
    transform: translateX(
      -50%
    ); /* Translada la linea hacia la izquierda, haciendo que se centre */
    width: 0; /* Empieza con un ancho de 0 */
    height: 2px;
    background-color: black;
    visibility: hidden;
    transition: 0.3s ease-in-out; /*comenzará lentamente, será más rápido en el medio de la animación y luego terminará lentamente.*/
  }

  .nav-link:hover::before,
  .nav-link.active::before {
    width: 100%;
    visibility: visible;
  }
}


.hero-section {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.container h1 {
  z-index: 1; /* Asegura que el texto esté sobre la imagen */
  position: relative;
  text-align: center;
  font-size: 120px;
  color: rgb(26, 24, 24);
}

.btn{
  z-index: 1; /* Asegura que el texto esté sobre la imagen */
  position: relative;
  padding: 15px 70px;
}

b{
  color: red;
  text-decoration: underline;
}

.call-to-action {
  text-align: center;
  background-color: #f0f0f0;
  padding: 30px;
}


.carousel .carousel-indicators button {
  width: 100%; /* Aumenta el ancho para que parezcan líneas */
  height: 5px; /* Ajusta la altura */
  background-color: #000; /* Cambia el color si es necesario */
  border-radius: 5px; /* Haz los bordes redondeados para que parezcan más suaves */
  pointer-events: none;
}

.carousel .carousel-control-prev,
.carousel .carousel-control-next {
  position: absolute;   /* Asegura que las flechas se coloquen sobre el carousel */
  top: 50%;             /* Centra las flechas verticalmente */
  width: 40px;          /* Tamaño más pequeño */
  height: 40px;         /* Tamaño más pequeño */
  background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semi-transparente */
  border-radius: 50%;   /* Hace las flechas circulares */
  cursor: pointer;      /* Cambia el cursor al pasar sobre las flechas */
  z-index: 5;           /* Asegura que las flechas estén por encima del contenido */
}
 .carousel .carousel-control-prev{
  left: 10px;   /* Mueve la flecha izquierda más cerca del borde */
 }

 .carousel .carousel-control-next{
  right: 10px;   /* Mueve la flecha izquierda más cerca del borde */
 }

.carousel .carousel-indicators .active {
  background-color: #ffffff; /* Color diferente para el indicador activo */
  width: 100%; /* Puedes hacer que el indicador activo sea más grande */
}

/* Línea que abarque todos los indicadores */
.carousel-indicators::after {
  content: "";
  position: absolute;
  width: 100%;  /* Abarca todo el ancho de los indicadores */
  height: 2px;  /* Altura de la línea */
  background-color: #333;  /* Color de la línea */
  bottom: 8px;  /* Posición de la línea debajo de los indicadores */
  left: 0;
}

.container-sm{
  margin-top: 30px;
  max-width: 60%;
  text-align: center;
  justify-content: center;
}

.container-md{
  margin-top: 20px;
  max-width: 60%;
  text-align: center;
  justify-content: center;
  padding-bottom: 30px;
  background-color: #CFF3FF;
  margin-bottom: 20px;
  border-radius: 20px;
}

.contact-form {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}
.contact-form h2 {
  margin-top: 0;
  margin-bottom: 15px;
  text-align: center;
}
.contact-form input,
.contact-form textarea,
.contact-form button {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.contact-form textarea {
  resize: none;
}
.contact-form button {
  background-color: #c50e91;
  color: white;
  border: none;
  cursor: pointer;
}
.contact-form button:hover {
  background-color: #b30080;
}
.error {
  color: red;
  font-size: 12px;
}
.color-text{
  color: white;
}

/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.container .form {
  margin-top: 30px;
}
.form .input-box {
  width: 100%;
  margin-top: 20px;
}
.input-box label {
  color: #333;
}
.form :where(.input-box input, .select-box) {
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
}
.input-box input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.form .column {
  display: flex;
  column-gap: 15px;
}
.form .gender-box {
  margin-top: 20px;
}
.gender-box h3 {
  color: #333;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 8px;
}
.form :where(.gender-option, .gender) {
  display: flex;
  align-items: center;
  column-gap: 50px;
  flex-wrap: wrap;
}
.form .gender {
  column-gap: 5px;
}
.gender input {
  accent-color: rgb(130, 106, 251);
}
.form :where(.gender input, .gender label) {
  cursor: pointer;
}
.gender label {
  color: #707070;
}
.address :where(input, .select-box) {
  margin-top: 15px;
}
.select-box select {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  color: #707070;
  font-size: 1rem;
}
.form button {
  height: 55px;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 30px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  background: rgb(130, 106, 251);
}
.form button:hover {
  background: rgb(88, 56, 250);
}
/*Responsive*/
@media screen and (max-width: 500px) {
  .form .column {
    flex-wrap: wrap;
  }
  .form :where(.gender-option, .gender) {
    row-gap: 15px;
  }
}

.btnHEART{
  width: 80px;
  height: 40px;
  margin-top: 40px;
  background-color: #E74899;
  border-radius: 5px;
  border-color: #E74899;
}

p{
  text-align: center;
  color: #000000;
  font-family: "Roboto", Sans-serif;
  font-size: 15px;
}

.col1{
  text-align: justify;
  color: #000000;
  font-family: "Roboto", Sans-serif;
  font-size: 15px;
}

.col2 a{
  display: block;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.containerg{
  width: 1400px;
  margin: 20px auto;
  columns: 4;
  column-gap: 20px;
}

.containerg .box{
  width: 100%;
  margin-bottom: 10px;
  break-inside: avoid;
}

.containerg .box img{
  width: 100%;
  border-radius: 15px;
}

@media (max-width: 1200px)
{
  .containerg{
    width: calc(100% - 40px);
    columns: 3;
  }
}

@media (max-width: 768px)
{
  .containerg{
    columns: 2;
  }
}

@media (max-width: 480px)
{
  .containerg{
    columns: 1;
  }
}