<%- include ('partials/header')%>
<!-- Hero section -->

<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img class="grid-item" src="https://images.alphacoders.com/903/thumb-1920-903501.jpg">
        <div class="carousel-caption d-none d-md-block">
          <h5 class="color-text"> Primera imagen </h5>
          <p class="color-text"> Descripcion representativa de la primera imagen </p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img class="grid-item" src="https://www.am.com.mx/u/fotografias/fotosnoticias/2021/11/9/49963.jpg">
        <div class="carousel-caption d-none d-md-block">
          <h5 class="color-text"> Segunda imagen </h5>
          <p class="color-text"> Descripcion representativa de la segunda imagen </p>
        </div>
      </div>
      <div class="carousel-item">
        <img class="grid-item" src="https://th.bing.com/th/id/OIP.Ad7v5b96uv4DukmHGKA_NQHaEK?rs=1&pid=ImgDetMain">
        <div class="carousel-caption d-none d-md-block">
          <h5 class="color-text"> Tercera imagen </h5>
          <p class="color-text"> Descripcion representativa de la primera imagen </p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="container-sm">
    <h5 class="text-center"> ¿Como participo en los eventos? </h5>
    <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus, recusandae deleniti. Ducimus libero corporis, minus minima nihil atque, provident accusamus unde iusto animi sequi. Eius asperiores velit iste dolore. Ducimus! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus, recusandae deleniti. Ducimus libero corporis, minus minima nihil atque, provident accusamus unde iusto animi sequi. Eius asperiores velit iste dolore. Ducimus! </p>
  </div>
  <div class="container-sm">

    <hr style="height: 4px; border-top: 1px solid black;">
  
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <div class="col">
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="https://dejandohuellascancun.org/wp-content/uploads/2024/07/Evento-Rock.webp" class="img-fluid rounded-start" alt="...">
                <button type="button" class="btnHEART"> <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
                  </svg>
                </button>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Titulo evento</h5>
                <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia, libero accusamus fuga neque dolore molestiae quia</p>
                <p class="card-text"><small class="text-body-secondary"> Fecha en la que se subio el evento </small></p>
                <a href="/registro" class="btn btn-primary" style="background-color: #E74899; border-color: #E74899;">Participar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="https://dejandohuellascancun.org/wp-content/uploads/2024/07/Evento-starbucks-1.webp" class="img-fluid rounded-start" alt="...">
                <button type="button" class="btnHEART"> <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
                  </svg>
                </button>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Titulo evento</h5>
                <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia, libero accusamus fuga neque dolore molestiae quia</p>
                <p class="card-text"><small class="text-body-secondary"> Fecha en la que se subio el evento </small></p>
                <a href="/registro" class="btn btn-primary" style="background-color: #E74899; border-color: #E74899;">Participar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="https://dejandohuellascancun.org/wp-content/uploads/2024/07/evento-adopcion.webp" class="img-fluid rounded-start" alt="...">
                <button type="button" class="btnHEART"> <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
                  </svg>
                </button>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Titulo evento</h5>
                <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia, libero accusamus fuga neque dolore molestiae quia</p>
                <p class="card-text"><small class="text-body-secondary"> Fecha en la que se subio el evento </small></p>
                <a href="/registro" class="btn btn-primary" style="background-color: #E74899; border-color: #E74899;">Participar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="https://dejandohuellascancun.org/wp-content/uploads/2024/07/evento-Venturapark.webp" class="img-fluid rounded-start" alt="...">
                <button type="button" class="btnHEART"> <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
                  </svg>
                </button>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Titulo evento</h5>
                <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia, libero accusamus fuga neque dolore molestiae quia</p>
                <p class="card-text"><small class="text-body-secondary"> Fecha en la que se subio el evento </small></p>
                <a href="/registro" class="btn btn-primary" style="background-color: #E74899; border-color: #E74899;">Participar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>

<%- include ('partials/footer')%>
