<!-- footer-->
 <link rel="stylesheet" href="/style.css">
<footer style="background-color: #CFF3FF;">
  <div class="container text-center">
    <div class="row align-items-center">
      <div class="col">
        <div class="col1">
          <img src="https://dejandohuellascancun.org/wp-content/uploads/2024/06/Logo-Fundacion-Dejando-Huellas-por-Cancun-A.C.webp" width="300px" height="110px">
          <p>Dejando Huella por Cancún A.C busca mejorar la calidad de vida de perros y gatos en situaciones vulnerables mediante las campañas de adopción, esterilización, el rescate animal y la concientización en la población garantizando el respeto a sus derechos.</p>
        </div>  
      </div>
      <div class="col">
        <div class="col2">
          <a href="/index">Inicio</a>
          <a href="">Nosotros</a>
          <a href="">Apoyar</a>
          <a href="">Reportar Maltrato</a>
          <a href="/Eventos">Colabora</a>
          <a href="">Contacto</a>
        </div>
      </div>
      <div class="col">
        <div class="col1">
          <p style="font-weight: bold;">Contacto</p>
          <p>+52 998-870-1062</p>
          <p>fundaciondejandohuellascancun@gmail.com</p>
          <a href=""></a>
          <a href=""></a>
        </div>
      </div>
    </div>
  </div>
  <div style="background-color: #6EC1E4; height: 50px;">
    <p class="mb-0" style="text-align: center;">&copy; Copyright 2024 ®Dejando Huellas por Cancún | Powered by Iniciativa M</p>
  </div>
  </footer>
</body>
</html>